/*颜色配置*/
$color0:#000;
$color1:#3eb9ff;
$color2:#ff635c;
$color3:#666;
$color4:#999;
$color5:#ff5b6c;
$color6:#333;
$color7:#ff9501;
$color8:#34b234;
$color9:#c184e3;

/*字体大小配置*/



/*布局配置*/



/*内外边距配置*/