.button{
  width: 100%;
  margin-top: .6rem;
  padding: .2rem 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  .btnText{
    display: -webkit-flex;
    display: flex;
    height: .8rem;
    width: 88%;
    background-color: #f05f46;
    color: #ffffff;
    font-size: .36rem;
    border-radius: 10px;
    align-items: center;
    justify-content:center;
  }
}